/* 全局的样式 */
a,
a:hover,
a:visited,
a:link {
  text-decoration: none; /* 去除默认的下划线 */
  outline: none; /* 去除旧版浏览器的点击后的外虚线框 */
  color: #000; /* 去除默认的颜色和点击后变化的颜色 */
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
}
.padding-left-right {
  padding-left: 2rem;
  padding-right: 2rem;
}
.container-body {
  min-height: 60rem;
}
/* 导航栏 */
.navbar {
  background-color: #3b4dcb;
}
.navbar-brand {
  padding: 20px 20px;
  margin-right: 5rem;
  height: 80px;
}
.navbar-inverse .navbar-nav > li > a {
  font-size: large;
  color: #fff;
  margin: auto 2rem;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #fff;
  border-bottom-color: #fff;
  background-color: #3b4dcb;
  border-bottom: 4px solid transparent;
  border-bottom-color: #fff;
  padding: 15px 0 2px 0;
}
.nav.navbar-nav {
  margin: 14px auto;
}
/* 面包屑 */
.breadcrumb > li {
  font-size: 1.5rem;
  font-weight: 500;
}
.breadcrumb > li + li:before {
  color: #333;
  content: "/ ";
  padding: 0 5px;
}
.gebar {
  height: 2rem;
  border: 1px solid rgb(0 0 0 / 8%);
  background-color: rgb(0 0 0 / 8%);
  border-left: none;
  border-right: none;
}
/* 公共底部 */
.container-fluid-footer {
  background-color: #434343;
  padding-right: 0px;
  padding-left: 0px;
}
.footer {
  background-color: #434343;
  color: #fff;
  padding: 9rem;
}
.footer .center-block {
  padding-bottom: 2rem;
}
.footer-qrcode {
  padding: 0 5rem;
  margin: 0;
}
.footer-sm-text {
  font-size: 0.5rem;
  margin: 4px 0 0 0;
}
.footer-description {
  line-height: 2.5rem;
  font-size: 115%;
}
.copyright,
.copyright a {
  background-color: #434343;
  color: #fff;
  padding-bottom: 1%;
}
/* 动态页面 */
.dongtai-title {
  padding: 3rem 0;
  font-size: 3rem;
  color: #a08483;
  letter-spacing: 2px;
}
.dongtai-row {
  width: 80%;
  min-height: 30rem;
}
.dongtai-row > ul > li {
  margin-bottom: 4rem;
}
.box-shadows {
  box-shadow: 10px 10px 7px 0px #dddddd;
  /* height: 24rem; */
}
.rm-left-padding {
  padding-left: 0;
  max-height: 100%;
  overflow: hidden;
}
.right-text {
  min-height: 17rem;
}
.right-text h3,
.right-text h3 a {
  color: #0e132f;
}
.right-text p {
  margin-top: 2rem;
  color: #bbbbbb;
  display: block;
  height: 12rem;
}
.right-text .date {
  color: #bbbbbb;
}
/* 分页 */
.pagination > li > a,
.pagination > li > span {
  border-radius: 3rem;
  margin: auto 0.5rem;
  color: #ffffff;
  background-color: #cccccc;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li.active > a,
.pagination > li.active > span,
.pagination > li.active > a:hover,
.pagination > li.active > span:hover {
  background-color: #f08a01;
  color: #ffffff;
  border: 1px solid #f08a01;
}
/* 地区页面 */
.zone-ul li {
  display: inline-block;
  margin: 1rem 0.5rem;
}
.zone-ul li a {
  font-size: large;
}
.zone-ul li a:hover,
.zone-ul li.active a {
  background-color: #248ad9;
  color: #ffffff;
}
/* 学校页面 */
.padding-lr {
  padding-left: 2rem;
  padding-right: 2rem;
  min-height: 50rem;
}
.sub-title {
  padding-bottom: 6px;
  border-bottom: 1px solid #dedede;
}
.sub-title > a > span:first-child {
  border-bottom: 3px solid #337ab7;
  padding-bottom: 6px;
  line-height: 1.3;
  letter-spacing: 2px;
}
.sub-title > a > span:last-child {
  font-size: 1.5rem;
  margin-top: 1.6rem;
}
.zhuanye-ul {
  padding: 1rem auto;
}
.zhuanye-ul li {
  border: 1px solid #dedede;
  padding: 1rem;
}
.zhuanye-ul li:first-child {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.zhuanye-ul li:last-child {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.zhuanye-ul li:hover {
  background-color: #e6e6e6;
}
.zhuanye-ul li a {
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-left: 1rem;
}
/* 问答详情页 */
.ask-content {
  min-height: 60rem;
}
.ask-h3 {
  border: 1px solid #dedede;
  padding: 0.8rem 1rem;;
}
.ask-answer {
  padding: 1rem;
  font-size: 1.6rem;
}
.ask-answer label {
  font-size: 2rem;
}
.ask-answer p{
  line-height: 1.8;
  letter-spacing: 1px;
}


@media (max-width: 576px) {
  .navbar-brand {
    padding: 3px 15px;
    height: auto;
  }
  .dongtai-row {
    width: 96%;
  }
  .footer {
    padding: 1rem;
  }
  .padding-lr {
    min-height: 30rem;
  }
  .ask-content {
    min-height: 30rem;
  }
}